.ui.middle.aligned.center.aligned.grid 
  .column    
    %h2.header Edit User
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), 
                                                  html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .ui.form.segment 
        .field
          = f.input :name, label: 'Full Name', autofocus: true
        .field
          = f.input :email
        .field
          = f.input :password, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
        .field
          = f.input :password_confirmation
        .field 
          = f.input :current_password
        = f.submit 'Update', class: 'ui blue button'
        = link_to "Back", :back, class: 'ui button'
    .ui.bottom.attached.message
      %h3 Cancel my account
      %p Unhappy? 
      = link_to "Cancel my account", registration_path(resource_name), 
                                    data: { confirm: "Are you sure?" }, 
                                    method: :delete, 
                                    class: 'ui negative basic button'
    = link_to "Sign out", destroy_user_session_path, method: :delete, class: 'ui button'

