.ui.two.column.grid 
  .center.floated.four.wide.column
    .ui.segment
      %table.ui.very.basic.large.table
        %tbody
          %tr 
            %td Total sold:
            %td 
              %h4
                = total_sold(@daily_menu)
          %tr 
            %td Orders amount:
            %td
              %h4  
                = @daily_menu.orders.size
  .twelve.wide.column
    .ui.segment
      %table.ui.very.basic.large.table
        %thead 
          %tr 
            %th.center.aligned{:colspan => "3"} Most popular menu items
          %tr 
            %td First course dish:
            %td 
              = most_popular_item(@daily_menu, "first_course")
          %tr 
            %td Main course dish:
            %td 
              = most_popular_item(@daily_menu, "main_course")
          %tr 
            %td Drink:
            %td  
              = most_popular_item(@daily_menu, "drink")
