.ui.container
  .ui.form
    %h2.header Edit or add new items to the menu 
    = simple_form_for([:admin, @daily_menu], method: :patch) do |f|
      = f.simple_fields_for :food_items do |item|
        = render 'food_items_fields', item: item
      = f.submit 'Update', class: 'ui blue button'
      = link_to "Back", :back, class: 'ui button'
      