.ui.container
  .ui.vertical.segment
    .ui.five.column.grid
      - @daily_menus.reverse.each do |menu|
        .column 
          .ui.fluid.link.card 
            .content 
              .header
                = menu.created_at.strftime("%A")
              .description
                = menu.created_at.strftime("%d %b %Y")
                %br/
                %br/
            - if menu.created_at.today?
              = link_to 'Make an order', daily_menu_order_items_new_path(@daily_menus.first), class: "ui bottom attached blue button" 
            - else
              = link_to 'History', menu, class: "ui bottom attached button" 
      .one.column.row
        .celled.center.aligned.column
          = paginate @daily_menus
          