.ui.container
  .ui.two.column.grid
    .column
      %table.ui.very.basic.celled.table
        %thead
          %tr
            %th 
              = "My order on #{@daily_menu.created_at.strftime("%A %d %b %Y")}"
            %th Price
        %tbody
          - @user_order.each do |item|
            %tr
              %td
                %h4.ui.header
                  = item.name
                  .sub.header
                    = item.course.gsub("_", " ").capitalize
              %td
                = item.price
        %tfoot 
          %tr 
            %th.right.aligned Total price
            %th 
              = @user_order_cost 
    .column
      %table.ui.very.basic.celled.table
        %thead
          %tr
            %th 
              = "Menu list on #{@daily_menu.created_at.strftime("%A %d %b %Y")}"
            %th Price
        %tbody
          - @daily_menu.food_items.order(:course).each do |item|
            %tr
              %td
                %h4.ui.header
                  = item.name
                  .sub.header
                    = item.course.gsub("_", " ").capitalize
              %td
                = item.price
    