%h1.ui.center.aligned.header
  = "Menu list on #{menu.created_at.strftime("%A %d %b %Y")}"
.ui.piled.segment
  %table.ui.very.basic.table
    %thead
      %tr
        %th 
          Menu items
          - if current_user.is_admin? && @daily_menu.created_at.today? 
            = link_to "Edit", edit_admin_daily_menu_path(@daily_menu)
        %th Price
    %tbody
      - menu.food_items.order(:course).each do |item|
        %tr
          %td
            %h4.ui.header
              = item.name
              .sub.header
                = menu_course(item)
          %td
            = item.price
            