.ui.container
  .ui.two.column.grid
    .column
      %h1.ui.center.aligned.header Edit your order here:
      = simple_form_for @order, url: daily_menu_order_path, html: {class: "ui form"} do |f|
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :daily_menu_id, value: params[:daily_menu_id]
        .ui.piled.segment
          = link_to "Cancel my order", daily_menu_order_path(@order.daily_menu, @order), method: :delete,  
                                                    data: { confirm: "Are you sure?" }, 
                                                    class: "ui red right ribbon label"
          .ui.three.column.grid 
            = render 'food_items_fields', f: f
          %br/
          = f.submit "Edit", class: "ui fluid primary button",  data: { confirm: "Are you sure you?" }
    .column 
      = render 'shared/menu_list', menu: DailyMenu.find(params[:daily_menu_id])
      