%h2.header Log in
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .ui.form.segment 
    .field
      = f.input :email, autofocus: true
    .field
      = f.input :password
    = f.submit 'Log in', class: 'ui button'
    = render "devise/shared/links"
