%h1.ui.center.aligned.header Orders 
.ui.segment
  %table.ui.very.basic.table
    %thead
      %tr 
        %th Order date 
        %th Menu items 
        %th Total cost
      %tbody
        - @user.orders.each do |order|
          %tr
            %td
              = link_to "#{order.daily_menu.created_at.strftime("%d %b %Y")}", admin_daily_menu_path(order.daily_menu)
            %td 
              - order.food_items.each_with_index do |item, index| 
                = index == order.food_items.size - 1 ? "#{item.name}." : "#{item.name},"
            %td  
              = order.food_items.pluck(:price).sum
              