.ui.container
  .ui.one.column.grid
    .column
      .ui.segment
        %table.ui.very.basic.celled.table
          %thead
            %tr
              %th Name
              %th Email
              %th Registered at
              %th Last order
          %tbody
            - @users.each do |user|
              %tr
                %td
                  = link_to "#{user.name}", admin_user_path(user)
                %td
                  = user.email
                %td
                  = user.created_at.strftime("%d %b %Y")
                %td
                  - if user.orders.last.nil? 
                    no orders yet
                  - else
                    = user.orders.last&.created_at&.strftime("%d %b %Y")
              