.ui.menu
  .ui.container
    - if current_user && current_user.is_admin?
      = link_to 'Dashboard', admin_root_path, class: "active item"
      = link_to 'Users', admin_users_path, class: 'item'
    - else  
      = link_to 'Dashboard', root_path, class: "active item"
    .right.menu
      = link_to 'Settings', edit_user_registration_path, class: "item"
      .item
        = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'ui primary button'
        