!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LunchApp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if current_user
      = render 'layouts/header'
    - if flash[:notice]
      .ui.container.positive.center_flash.message
        %i.close.icon 
        .header
          = notice
    - if flash[:alert]
      .ui.container.negative.center_flash.message
        %i.close.icon 
        .header
          = alert
    = yield
